[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
countryName = GB
countryName_default = GB
stateOrProvinceName = GreaterLondon
stateOrProvinceName_default = GreaterLondon
localityName = London
localityName_default = London
organizationName = Sainsburys
organizationName_default = Sainsburys
organizationalUnitName = Engineering
organizationalUnitName_default = Engineering
commonName = local.kafka.sainsburys-poc

[v3_req]
basicConstraints = critical,CA:TRUE
keyUsage = critical, digitalSignature, keyCertSign
subjectAltName = DNS:local.kafka.sainsburys-poc, DNS:*.local.kafka.sainsburys-poc